@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
i {
  font-style: normal;
  background-color: rgb(18, 20, 20);
}
input {
  background-color: rgb(18, 20, 20);
}
input:focus {
  outline: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #d1d05c;
  flex-direction: column;
  background-color: rgb(31, 32, 32);
}
.container {
  padding: 2rem;
  background: rgb(18, 20, 20);
  border-radius: 15px;
  width: 400px;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  /* text-shadow: 0 0 3px #ff0000, 0 0 5px #0000ff; */
  border-radius: 15px;
}
form {
  display: flex;
  flex-direction: column;
}
.event-main {
  background: rgb(18, 20, 20);
}
.event {
  margin-top: 0.5rem;
  text-align: center;
  width: 60%;
  border: 2px solid #d1d05c;
  border-radius: 30px;
  color: aliceblue;
  transition: 0.3s;
  padding: 0.3rem;
}

.date-main {
  margin-top: 0.5rem;
  background: rgb(18, 20, 20);
}
.date {
  margin-top: 0.5rem;
  padding: 0.3rem;
  padding-right: 0px;
  text-align: center;
  width: 60%;
  border: 2px solid #d1d05c;
  border-radius: 30px;
  color: aliceblue;
}
.submit {
  margin-top: 1.5rem;
  text-align: center;
  width: 20%;
  border: 2px solid #d1d05c;
  border-radius: 15px;
  color: aliceblue;
  cursor: pointer;
  padding: 0.3rem 1.5;
}
/* .date input {
  text-align: center;
} */
